@font-face {
  font-family: 'OpenSans';
  src: url('/Fonts/OpenSansHebrew-Regular.ttf');
}

body {
  font-family: 'OpenSans', sans-serif;
  background-color: #F0F6FE;
}

.bold{
  font-weight: bold;
}

textarea:focus, input:focus, input{
  outline: none;
  border:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.inlineFlex {

  align-items: center;

  display: grid;
  grid-template-columns: 40% 0% 14%;
  gap: 5px
}

.noBorder {
  border: none;
}

.BoxContainer {
  width: 100%;

  .BoxMain {
    border: none !important;
    @media screen and (max-width:1024px) {
      height: auto;
    }
  }

  .BoxHeadTop {
    background: #FFFFFF;
    border: 1px solid #E3E6F0;
    box-shadow: 0px 4px 24px rgba(58, 59, 69, 0.1);
    border-radius: 30px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    width: 100%;

    .tenderDetails {
      margin-bottom: 1%;
      margin-left: auto;
      margin-right: auto;
      width: 53%;

      >div {

        margin-left: auto;
        margin-right: auto;
        border: none !important;
      }
    }
  }

  .BoxSumItems {
    text-align: right;
    margin: 2% 24% 2% 0;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 14px;
    /* identical to box height, or 50% */
    letter-spacing: -0.4875px;
    color: #44454B;
  }

  .BoxSummery {
    
margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 50%;
    background: #FEFEFE;
    box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .title {
      margin-left: auto;
      margin-right: auto;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 14px;
      /* identical to box height, or 78% */
      margin-bottom: 2%;
      text-align: center;
      letter-spacing: -0.2625px;
      color: #44454B;
    }

    .summery {
      margin-left: auto;
      margin-right: auto;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 14px;
      /* identical to box height, or 70% */
      text-align: center;
      letter-spacing: -0.2625px;
      color: #44454B;
    }

    .buttonDiv {
      direction: rtl;
      margin: 2% auto;
      text-align: center;
      direction: rtl;

      .button {
        min-width: 150px;
        font-family: 'OpenSans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        text-align: right;
        letter-spacing: -0.3px;
        color: #FFFFFF;
      }
    }
  }
}

.TenderLine {
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #E3E6F0;
  box-shadow: 0px 4px 24px rgba(58, 59, 69, 0.1);
  border-radius: 7px;

  @media screen and (max-width:500px) {
    padding: 0;
    width: 95%;
  }

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    border: none !important;
  }

  .TenderLineHead {
    direction: rtl;
    align-items: right;
    text-align: right;
    direction: rtl;
    display: inline-flex;
    gap: 12px;

    .Updated {
      background: #E3EBF8;
      border-radius: 7px;
      padding: 5px;
      height: fit-content;
    }

    .title {
      min-width: 320px;
      width: 50%;
      align-items: center;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 26px;
      text-align: right;
      letter-spacing: -0.4125px;
      color: #44454B;

      @media screen and (max-width:1024px) {
        min-width: 150px;
        font-size: 16px;
      }
    }

    .titleText {
      width: max-content;
      min-width: 100px;
    }

    .headItem {
      width: 18%;
      min-width: 18%;
      max-width: 20%;
    }
  }

  .line {
    margin: 1% 0;
    left: 0%;
    right: 0%;
    bottom: 0%;
    border: 1px solid #E3E6F0;
    background: #E3E6F0;
  }

  .tenderSummery {
    align-items: flex-end;
    text-align: right;
    direction: rtl;
    display: inline-flex;
    gap: 12px;

    .stepDiv {
      padding: 15px;

      .stepTitle {
        font-family: 'OpenSans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 14px;
        margin-bottom: 20px;
        text-align: right;
        letter-spacing: -0.2625px;
      }

      .stepNumber {
        text-align: center;
        font-family: 'OpenSans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 14px;
        text-align: right;
        letter-spacing: -0.2625px;
        color: #44454B;
  
        #TotalPriceForDisplay {
          text-align: center;
          font-family: 'OpenSans', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 26px !important;
          line-height: 14px;
          text-align: right;
          letter-spacing: -0.2625px;
          color: #44454B;
        }
      }
    }

    .unitPrice {
      text-align: center;
      background: #F4F8FF;
      border-radius: 7px;

      .stepField {
       
        align-items: right;
        text-align: right;
        direction: rtl;
        display: inline-flex;
        gap: 12px;

        div{
          display: flex;
        }
        fieldset {
          border: none;
        }

        input, input:focus{
          padding: 5px 0px !important;
          background-color: #F4F8FF;
          border: none;
          width: 100%;
          font-family: 'OpenSans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 30px;
          /* identical to box height, or 115% */
          text-align: center;
          color: #4D4E55;
        }
      }
    }

    .sum {
      text-align: center;
      padding: 15px;

      .sumTitle {
        font-family: 'OpenSans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 14px;
        /* identical to box height, or 78% */
        margin-bottom: 20px;
        text-align: right;
        letter-spacing: -0.2625px;
      }

      .sumNumber {
        background-color: white!important;
        font-family: 'OpenSans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 14px;
        /* identical to box height, or 54% */
        text-align: right;
        letter-spacing: -0.2625px;
        color: #00798C;

        input {
          background-color: white!important;
          font-family: 'OpenSans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 30px;
          /* identical to box height, or 115% */
          width: auto;
          text-align: right;
          padding-right: 2%;
          color: #4D4E55;
        }
      }
    }
  }

  .privilege {
    border-top: 1px solid rgba(227, 230, 240, 0.4);
    margin-top: 24px;
    direction: rtl;
    padding: 24px 0 24px 48px;
    background: linear-gradient(180deg, rgba(244, 248, 255, 0.45) 0%, rgba(255, 255, 255, 0) 206.7%);
    width: calc(51.4vw - 20px);
    margin-left: calc(-27vw + 50% + 10px);

    .titleLbl {
      margin-right: 24px;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 14px;
      /* identical to box height, or 78% */
      text-align: right;
      letter-spacing: -0.28125px;
      color: #44454B;
    }
  }
}

.BoxMain {
  height: auto;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #E3E6F0;
  border-radius: 7px;

  .Mui-disabled{
  background-color: #1976d2!important;

  }
  .BoxHead {
    align-items: center;
    display: flex;
    right: 0;
    gap: 20px;
    text-align: right;
    color: #44454B;
    justify-content: space-between;
    .headText {
      color: #44454B;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
    }
  }

  @media screen and (max-width:500px) {
    .BoxHead {
      display: inline-flex;
      gap: 8px;
      font-size: 14px !important;
      line-height: none;

      .headText {
        font-size: 14px;
        line-height: none;
      }
    }
  }

  .line {
    margin: 1% 0;
    left: 0%;
    right: 0%;
    bottom: 0%;
    border: 1px solid #E3E6F0;
    background: #E3E6F0;
  }

  .Proposal {
    text-align: right;
    align-items: right;
    color: #44454B;
    font-size: 16px;
    font-weight: bold;
    &.green{
      color: #00798C!important;
    }
    &.red{
      color: #8c0000!important;
    }
    .leadPrice {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      /* identical to box height, or 100% */
      text-align: right;
      letter-spacing: -0.2625px;
    }

    .greenProposal {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 14px;
      /* identical to box height, or 87% */
      text-align: right;
      letter-spacing: -0.2625px;
      color: #18873F;

      >div {
        color: #18873F;
      }

    }

    div>div {
      margin: 5px;
    }
  }
}
