@font-face {
  font-family: 'OpenSans';
  src: url('/src/Fonts/OpenSansHebrew-Regular.ttf');
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'OpenSans', sans-serif,
    monospace;
}

.burgerMenu {
  background-color: #F0F6FE;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  float: right;
  margin-right: 24%;
  margin-top: 2%;
  color: #00798C;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.react-burger-cross-btn {
  right: 24px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 22.5% !important;
}

/* General sidebar styles */
.bm-menu {
  background-color: #F0F6FE;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: 0px 4px 24px rgba(58, 59, 69, 0.1);
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  margin-left: auto;
  margin-right: auto;text-align: center;
}

/* Individual item */
.bm-item { margin-left: auto;
  margin-right: auto; text-align: center;}

.UserFullName {
 clear: both;
  font-family: 'OpenSans' Hebrew;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  align-items: center;
  text-align: center;
margin: 10px;
  color: #0C3058;
}

/* Styling of overlay */
.bm-overlay {

  background: rgba(0, 0, 0, 0.3);
  width: 100% !important;
}

.logoffBtn{

  margin-top: 80%!important;
}