@font-face {
    font-family: 'OpenSans';
    src        : url('/src/Fonts/OpenSansHebrew-Regular.ttf');
}

.Header {

    width        : 100%;
    background   : radial-gradient(100% 100% at 50% 0%, #41586D 0%, #233140 100%);
    box-shadow   : 0px 2px 15px #FFFFFF;
    border-radius: 0px 0px 21px 21px;
    height       : 200px;
    direction    : rtl;

    @media screen and (max-width:500px) {
        height       : 125px;
      }

    .divHeader {
        padding-top : 2%;
        height      : 32px;
        margin-left : auto;
        margin-right: auto;
        width       : 60%;
        text-align  : right;
        font-family : 'OpenSans', sans-serif;
        font-style  : normal;
        font-weight : normal;
        font-size   : 14pt;
        line-height : 16px;
        text-align  : right;
        color       : #FFFFFF;

        @media screen and (max-width:500px) {
            padding-top: 12px;
            font-size   : 12pt;
            letter-spacing: -0.3375px;

          }

        @media only screen and (max-width : 1024px) {
            width: 95%;
        }

        .flex {
            display      : inline-flex;
            gap          : 10px;
            text-align   : center;
            justify-items: center;
        }

        .line {
            border: 1px solid #FFFFFF;
        }

        .systemWatch {
            margin-top   : 3%;
            justify-items: center;
            align-items  : center;
            margin-left  : auto;
            margin-right : auto;
            text-align   : center;

            .title {
                font-family: 'OpenSans', sans-serif;
                font-style : normal;
                font-weight: normal;
                font-size  : 1.3em;
                line-height: 16px;
                /* identical to box height, or 89% */


                letter-spacing: -0.2625px;

                color: #FFFFFF;
                @media screen and (max-width:500px) {
                    line-height: 19px;
                  }
            }

            .clock {
                margin-top    : 10px;
                font-family   : 'OpenSans', sans-serif;
                font-style    : normal;
                font-weight   : bold;
                font-size     : 2em;
                line-height   : 16px;
                letter-spacing: -0.4125px;
                color         : #FFFFFF;
            }
        }
    }
}